name: My workflow v2
on:
  workflow_dispatch:
    inputs:
      name:
        type: choice
        description: Who to greet
        options:
        - monalisa
        - cschleiden
    message:
      required: true
    use-emoji:
      type: boolean
      description: Include emojis
    environment:
      type: environment
